*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.qalagroup-header{

}
.qalagroup-header .qala-logo{
    background-color: rgb(136, 85, 85);
    width: 100%;
    height: 120px;
    /* margin: 10px; */
}
.qalagroup-header .qala-logo img{
    /* margin: 10px; */
    width: 120px;
    height: 120px;
    margin-left: 120px;
    margin-top: 10px;
}
.qala-intro{
    background-image: url("../img/main.jpg");
    height: 88vh;
    padding-top: 120px;
}
.qala-intro .title{
    margin-left: 120px;
    width: 550px;
}
.qala-intro .title h1{
font-size: 40px;
}
.qala-intro .title h1 span{
    color: orangered;
}
.qala-intro .title p{
    font-size: 25px;
    line-height: 32px;
    margin-top: 12px;
}
.qala-intro .title .btn-get{
    margin-top: 10px;
padding: 18px;
border: none;
background-color: orangered;
color: white;
border-radius: 10px;
font-size: 22px;

}